In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('TCS Historical Data 2018.csv')
df.head()

           Date     Price      Open      High       Low     Vol. Change %
0  Jan 01, 2018  1,322.80  1,341.15  1,347.40  1,317.50    1.35M   -2.06%
1  Jan 02, 2018  1,315.60  1,330.00  1,334.80  1,310.10    1.92M   -0.54%
2  Jan 03, 2018  1,319.33  1,316.00  1,334.50  1,315.60    1.26M    0.28%
3  Jan 04, 2018  1,328.55  1,325.00  1,331.00  1,320.00  913.08K    0.70%
4  Jan 05, 2018  1,344.60  1,325.00  1,349.75  1,325.00    1.15M    1.21%

In [3]:
# Code to take in case of importing data from NSE
#remove_columns = ['Symbol', 'Series', 'Last Price', 'Average Price', 'Total Traded Quantity','Turnover',
#                 'No. of Trades','Deliverable Qty','% Dly Qt to Traded Qty']
#clean_df = df.drop(remove_columns, axis=1)
#clean_df.head()

In [4]:
# df['Avg_high_5'] = df['High'].rolling(5).mean()
# df['Avg_low_5'] = df['Low'].rolling(5).mean()
# df['MV_5'] = df['Price'].rolling(5).mean()
# Convert str to float and remove commas
df['Price'] = df['Price'].str.replace(',','')
df['Price'] = df['Price'].astype(float)
df['Open'] = df['Open'].str.replace(',','')
df['Open'] = df['Open'].astype(float)
df['High'] = df['High'].str.replace(',','')
df['High'] = df['High'].astype(float)
df['Low'] = df['Low'].str.replace(',','')
df['Low'] = df['Low'].astype(float)

In [17]:
df['Avg_high_5'] = df['High'].rolling(5).mean()
df['Avg_low_5'] = df['Low'].rolling(5).mean()
df['MV_5'] = df['Price'].rolling(5).mean()
df['Avg_high_5_1Std'] = df['Avg_high_5'].rolling(5).std()
df['Avg_low_5_1Std'] = df['Avg_low_5'].rolling(5).std()
df[10:40]

,Date,Price,Open,High,Low,Vol.,Change %,Avg_high_5,Avg_low_5,MV_5,Avg_high_5_1Std,Avg_low_5_1Std
10,"Jan 15, 2018",1373.05,1388.58,1404.00,1367.53,1.46M,-1.09%,1397.190,1362.904,1382.854,19.976736,14.900782
11,"Jan 16, 2018",1425.42,1378.00,1430.83,1375.28,4.27M,3.81%,1411.256,1370.304,1397.038,18.468611,13.902580
12,"Jan 17, 2018",1444.47,1435.00,1462.50,1431.08,4.28M,1.34%,1422.156,1387.054,1405.272,17.359652,14.534000
13,"Jan 18, 2018",1459.10,1448.50,1466.50,1434.03,2.21M,1.01%,1433.266,1395.640,1418.042,17.964654,16.144668
14,"Jan 19, 2018",1479.65,1465.28,1491.00,1451.83,1.82M,1.41%,1450.966,1411.950,1436.338,20.568619,19.661573
15,"Jan 22, 2018",1558.20,1480.50,1567.35,1461.00,4.37M,5.31%,1483.636,1430.644,1473.368,28.346069,23.164801
16,"Jan 23, 2018",1551.00,1557.47,1571.17,1545.03,3.24M,-0.46%,1511.704,1464.594,1498.484,36.945416,30.923679
17,"Jan 24, 2018",1587.30,1545.00,1629.53,1541.33,5.62M,2.34%,1545.110,1486.644,1527.050,45.174318,37.418266
18,"Jan 25, 2018",1560.53,1587.50,1589.90,1540.50,3.83M,-1.69%,1569.790,1507.938,1547.336,47.342947,39.366896
19,"Jan 29, 2018",1599.42,1565.70,1612.50,1561.00,3.14M,2.49%,1594.090,1529.772,1571.290,44.195867,38.400901
20,"Jan 30, 2018",1576.42,1590.00,1601.90,1571.85,1.57M,-1.44%,1601.000,1551.942,1574.934,36.739155,34.441706
21,"Jan 31, 2018",1556.17,1568.50,1575.00,1549.30,3.04M,-1.28%,1601.766,1552.796,1575.968,24.531624,28.636544
22,"Feb 01, 2018",1569.30,1562.00,1595.00,1544.40,2.40M,0.84%,1594.860,1553.410,1572.368,13.055200,20.095582
23,"Feb 02, 2018",1576.83,1560.00,1595.00,1551.72,2.46M,0.48%,1595.880,1555.654,1575.628,3.594058,10.678227
24,"Feb 05, 2018",1551.60,1555.00,1594.00,1538.42,2.76M,-1.60%,1592.180,1551.138,1566.064,4.113607,1.720401
25,"Feb 06, 2018",1498.62,1505.00,1538.58,1492.50,2.66M,-3.41%,1579.516,1535.268,1550.504,8.230432,8.202727
26,"Feb 07, 2018",1477.53,1513.50,1515.50,1473.72,2.18M,-1.41%,1567.616,1520.152,1534.776,12.189335,15.136516
27,"Feb 08, 2018",1487.10,1489.88,1513.80,1479.50,2.76M,0.65%,1551.376,1507.172,1518.336,18.285063,20.467336
28,"Feb 09, 2018",1485.85,1475.00,1497.00,1448.33,2.10M,-0.08%,1531.776,1486.494,1500.140,23.687926,24.949497
29,"Feb 12, 2018",1483.65,1489.15,1511.67,1477.78,1.97M,-0.15%,1515.310,1474.366,1486.550,26.053017,24.652014
30,"Feb 14, 2018",1455.90,1485.00,1487.22,1446.25,2.85M,-1.87%,1505.038,1465.116,1478.006,25.616262,22.791282
31,"Feb 15, 2018",1462.92,1465.97,1471.50,1452.55,2.47M,0.48%,1496.238,1460.882,1475.084,21.986382,18.655661
32,"Feb 16, 2018",1466.53,1461.50,1499.80,1461.50,2.52M,0.25%,1493.438,1457.282,1470.970,15.630549,11.757816
33,"Feb 19, 2018",1461.80,1472.50,1476.65,1447.60,1.57M,-0.32%,1489.368,1457.136,1466.160,10.367684,7.162783
34,"Feb 20, 2018",1472.38,1464.00,1492.53,1463.95,1.89M,0.72%,1485.540,1454.370,1463.906,7.418901,4.147323
35,"Feb 21, 2018",1521.15,1487.00,1531.30,1480.03,3.09M,3.31%,1494.356,1461.126,1476.956,4.301556,2.845611
36,"Feb 22, 2018",1525.10,1526.00,1539.50,1511.25,3.46M,0.26%,1507.956,1472.866,1489.392,8.487534,7.289429
37,"Feb 23, 2018",1537.90,1525.00,1544.50,1496.05,3.36M,0.84%,1516.896,1479.776,1503.666,13.189335,10.840161
38,"Feb 26, 2018",1515.85,1537.50,1544.97,1510.60,1.36M,-1.43%,1530.560,1492.376,1514.476,17.848681,15.044978
39,"Feb 27, 2018",1521.17,1520.50,1539.28,1516.00,1.72M,0.35%,1539.910,1502.786,1524.234,18.020269,16.306365

In [6]:
# plt.figure(figsize=(15,10))
# plt.grid(True)
# plt.plot(clean_df['Avg_high_5'], label='AVG_HIGH_5')
# plt.plot(clean_df['Avg_low_5'], label='AVG_LOW_5')
# plt.plot(clean_df['MV_5'], label='MV_5')
# plt.legend(loc=2)

In [28]:
row_count = df.shape[0]
trades_columns = ['Date Entered', 'Price Entered', 'Date Exited', 'Price Exited', 'Long/Short', 'Points Captured']
trade_id = 0

current_trade = 0 # 0 for no position, 1 for long, -1 for short

trades_df = pd.DataFrame(columns = trades_columns)

for i in range(row_count):
    
    if current_trade==0 and df['Price'][i] > df['Avg_high_5'][i]:
        # Trigger Long Position
        current_trade = 1
        # Insert row with index=trade_id and data type of missing values as required
        trades_df.loc[trade_id] = [df['Date'][i], df['Price'][i], "Not Closed", -1, 'Long', 0]
        
    elif current_trade==0 and df['Price'][i] < df['Avg_low_5'][i]:
        # Trigger Short Position
        current_trade = -1
        # Insert row with index=trade_id and data type of missing values as required
        trades_df.loc[trade_id] = [df['Date'][i], df['Price'][i], "Not Closed", -1, 'Short', 0]
        
    elif current_trade==1 and df['Price'][i] < df['Avg_high_5'][i]:
        # Close Long Position
        current_trade = 0
        trades_df.at[trade_id, 'Date Exited'] = df['Date'][i]
        trades_df.at[trade_id, 'Price Exited'] = df['Price'][i]
        trades_df.at[trade_id, 'Points Captured'] = trades_df['Price Exited'][trade_id] - trades_df['Price Entered'][trade_id]
        trade_id += 1
        
    elif current_trade==-1 and df['Price'][i] > df['Avg_low_5'][i]:
        # Close Short Position
        current_trade = 0
        trades_df.at[trade_id, 'Date Exited'] = df['Date'][i]
        trades_df.at[trade_id, 'Price Exited'] = df['Price'][i]
        trades_df.at[trade_id, 'Points Captured'] = trades_df['Price Entered'][trade_id] - trades_df['Price Exited'][trade_id]
        trade_id += 1
        
trades_df[-10:]

,Date Entered,Price Entered,Date Exited,Price Exited,Long/Short,Points Captured
40,"Nov 21, 2018",1812.00,"Nov 26, 2018",1846.1,Short,-34.1
41,"Nov 27, 2018",1890.25,"Dec 06, 2018",1992.7,Long,102.45
42,"Dec 12, 2018",2016.80,"Dec 13, 2018",1982.6,Long,-34.2
43,"Dec 19, 2018",1968.45,"Dec 27, 2018",1908.95,Short,59.5
44,"Jan 02, 2019",1923.30,"Jan 03, 2019",1899.95,Long,-23.35
45,"Jan 04, 2019",1876.85,"Jan 07, 2019",1897.9,Short,-21.05
46,"Jan 11, 2019",1842.55,"Jan 15, 2019",1867.8,Short,-25.25
47,"Jan 17, 2019",1894.30,"Jan 22, 2019",1901.9,Long,7.6
48,"Jan 23, 2019",1875.60,"Jan 24, 2019",1901.55,Short,-25.95
49,"Jan 25, 2019",1920.80,Not Closed,-1,Long,0

In [35]:
print(trades_df['Points Captured'].sum())
print(trades_df['Points Captured'].max())
trades_df[trades_df['Points Captured']==trades_df['Points Captured'].max()]

63.980000000000246
135.1099999999999

,Date Entered,Price Entered,Date Exited,Price Exited,Long/Short,Points Captured
1,"Jan 16, 2018",1425.42,"Jan 25, 2018",1560.53,Long,135.11

In [36]:
print(trades_df['Points Captured'].min())
trades_df[trades_df['Points Captured']==trades_df['Points Captured'].min()]

-92.70000000000027

,Date Entered,Price Entered,Date Exited,Price Exited,Long/Short,Points Captured
33,"Oct 01, 2018",2255.55,"Oct 03, 2018",2162.85,Long,-92.7

In [18]:
# Taking 1 SD above avg in case of long and 1 SD below in case of short
trade_id = 0

current_trade = 0 # 0 for no position, 1 for long, -1 for short

trades_df_1SD = pd.DataFrame(columns = trades_columns)

for i in range(row_count):
    
    if current_trade==0 and df['Price'][i] > (df['Avg_high_5'][i] + df['Avg_high_5_1Std'][i]):
        # Trigger Long Position
        current_trade = 1
        # Insert row with index=trade_id and data type of missing values as required
        trades_df_1SD.loc[trade_id] = [df['Date'][i], df['Price'][i], "Not Closed", -1, 'Long', 0]
        
    elif current_trade==0 and df['Price'][i] < (df['Avg_low_5'][i] - df['Avg_low_5_1Std'][i]):
        # Trigger Short Position
        current_trade = -1
        # Insert row with index=trade_id and data type of missing values as required
        trades_df_1SD.loc[trade_id] = [df['Date'][i], df['Price'][i], "Not Closed", -1, 'Short', 0]
        
    elif current_trade==1 and df['Price'][i] < (df['Avg_high_5'][i] + df['Avg_high_5_1Std'][i]):
        # Close Long Position
        current_trade = 0
        trades_df_1SD.at[trade_id, 'Date Exited'] = df['Date'][i]
        trades_df_1SD.at[trade_id, 'Price Exited'] = df['Price'][i]
        trades_df_1SD.at[trade_id, 'Points Captured'] = trades_df_1SD['Price Exited'][trade_id] - trades_df_1SD['Price Entered'][trade_id]
        trade_id += 1
        
    elif current_trade==-1 and df['Price'][i] > (df['Avg_low_5'][i] - df['Avg_low_5_1Std'][i]):
        # Close Short Position
        current_trade = 0
        trades_df_1SD.at[trade_id, 'Date Exited'] = df['Date'][i]
        trades_df_1SD.at[trade_id, 'Price Exited'] = df['Price'][i]
        trades_df_1SD.at[trade_id, 'Points Captured'] = trades_df_1SD['Price Entered'][trade_id] - trades_df_1SD['Price Exited'][trade_id]
        trade_id += 1
        
trades_df_1SD[-10:]

,Date Entered,Price Entered,Date Exited,Price Exited,Long/Short,Points Captured
30,"Oct 26, 2018",1799.10,"Oct 29, 2018",1871,Short,-71.9
31,"Oct 31, 2018",1938.15,"Nov 02, 2018",1913.45,Long,-24.7
32,"Nov 14, 2018",1880.65,"Nov 16, 2018",1886.6,Short,-5.95
33,"Nov 21, 2018",1812.00,"Nov 26, 2018",1846.1,Short,-34.1
34,"Nov 27, 2018",1890.25,"Nov 30, 2018",1968.25,Long,78
35,"Dec 12, 2018",2016.80,"Dec 13, 2018",1982.6,Long,-34.2
36,"Dec 19, 2018",1968.45,"Dec 24, 2018",1918.5,Short,49.95
37,"Jan 11, 2019",1842.55,"Jan 15, 2019",1867.8,Short,-25.25
38,"Jan 17, 2019",1894.30,"Jan 22, 2019",1901.9,Long,7.6
39,"Jan 28, 2019",1955.00,Not Closed,-1,Long,0

In [20]:
trades_df_1SD['Points Captured'].sum()

19.590000000000373

In [37]:
df[180:220]

,Date,Price,Open,High,Low,Vol.,Change %,Avg_high_5,Avg_low_5,MV_5,Avg_high_5_1Std,Avg_low_5_1Std
180,"Sep 24, 2018",2198.45,2115.00,2210.50,2098.15,3.03M,4.53%,2115.42,2065.46,2104.88,16.168073,8.936645
181,"Sep 25, 2018",2183.20,2204.90,2211.90,2153.80,2.87M,-0.69%,2142.24,2085.31,2126.69,28.345027,17.509919
182,"Sep 26, 2018",2142.15,2187.00,2199.00,2135.10,1.97M,-1.88%,2166.28,2100.81,2140.97,37.118243,23.103529
183,"Sep 27, 2018",2188.85,2141.90,2209.70,2135.80,3.31M,2.18%,2190.42,2114.60,2163.16,40.570413,26.237347
184,"Sep 28, 2018",2183.70,2178.00,2190.00,2158.85,2.90M,-0.24%,2204.22,2136.34,2179.27,35.895591,27.119870
185,"Oct 01, 2018",2255.55,2190.90,2275.95,2190.35,3.77M,3.29%,2217.31,2154.78,2190.69,30.072715,27.677333
186,"Oct 03, 2018",2162.85,2250.30,2255.00,2155.60,3.90M,-4.11%,2225.93,2155.14,2186.62,23.532760,24.229331
187,"Oct 04, 2018",2064.80,2156.60,2156.65,2056.35,4.76M,-4.53%,2217.46,2139.39,2171.15,13.909837,16.632673
188,"Oct 05, 2018",2102.65,2050.00,2120.00,2020.90,3.42M,1.83%,2199.52,2116.41,2153.91,10.774840,15.945807
189,"Oct 08, 2018",2077.55,2102.65,2122.20,2048.15,2.01M,-1.19%,2185.96,2094.27,2132.68,16.183990,26.341987
190,"Oct 09, 2018",2091.80,2080.35,2107.65,2053.20,1.87M,0.69%,2152.30,2066.84,2099.93,29.064346,35.197506
191,"Oct 10, 2018",2043.60,2100.00,2105.95,2029.00,2.75M,-2.30%,2122.49,2041.52,2076.08,38.063444,38.818733
192,"Oct 11, 2018",1979.95,1985.00,2013.00,1941.00,4.70M,-3.11%,2093.76,2018.45,2059.11,43.781079,39.338656
193,"Oct 12, 2018",1918.30,1978.00,1978.00,1903.00,9.37M,-3.11%,2065.36,1994.87,2022.24,47.421819,39.109359
194,"Oct 15, 2018",1949.50,1940.00,1955.55,1920.00,2.64M,1.63%,2032.03,1969.24,1996.63,47.084662,38.246254
195,"Oct 16, 2018",1962.30,1958.00,1971.90,1935.00,2.82M,0.66%,2004.88,1945.60,1970.73,46.971812,38.119244
196,"Oct 17, 2018",1929.40,1970.00,1989.00,1920.00,2.78M,-1.68%,1981.49,1923.80,1947.89,45.145743,37.734363
197,"Oct 19, 2018",1913.20,1929.00,1929.00,1870.05,3.43M,-0.84%,1964.69,1909.61,1934.54,40.129791,34.319017
198,"Oct 22, 2018",1903.00,1914.00,1916.00,1886.95,1.78M,-0.53%,1952.29,1906.40,1931.48,31.938404,26.410061
199,"Oct 23, 2018",1843.65,1888.00,1898.00,1837.00,2.75M,-3.12%,1940.78,1889.80,1910.31,25.186265,20.927513
200,"Oct 24, 2018",1848.50,1852.05,1874.00,1811.10,2.74M,0.26%,1921.20,1865.02,1887.55,22.941601,22.481243
201,"Oct 25, 2018",1853.00,1844.00,1876.90,1825.05,2.51M,0.24%,1898.78,1846.03,1872.27,26.051274,27.346213
202,"Oct 26, 2018",1799.10,1853.90,1853.90,1791.10,2.29M,-2.91%,1883.76,1830.24,1849.45,28.449443,31.088257
203,"Oct 29, 2018",1871.00,1808.70,1877.95,1784.35,2.61M,4.00%,1876.15,1809.72,1843.05,26.744378,30.908923
204,"Oct 30, 2018",1894.80,1867.00,1909.40,1845.00,2.40M,1.27%,1878.43,1811.32,1853.28,18.717030,23.522510
205,"Oct 31, 2018",1938.15,1900.00,1943.90,1875.45,2.77M,2.29%,1892.41,1824.19,1871.21,9.535687,14.904239
206,"Nov 01, 2018",1935.75,1943.65,1944.35,1901.30,2.77M,-0.12%,1905.90,1839.44,1887.76,12.120217,12.618305
207,"Nov 02, 2018",1913.45,1934.20,1954.60,1905.00,1.82M,-1.15%,1926.04,1862.22,1910.63,20.711097,21.904820
208,"Nov 05, 2018",1890.85,1910.00,1927.35,1884.75,1.71M,-1.18%,1935.92,1882.30,1914.60,23.592758,28.635705
209,"Nov 06, 2018",1932.70,1894.00,1937.50,1891.00,1.40M,2.21%,1941.54,1891.50,1922.18,20.695787,28.282122
210,"Nov 07, 2018",1942.15,1940.00,1949.00,1937.00,144.53K,0.49%,1942.56,1903.81,1922.98,15.179714,25.395627
211,"Nov 09, 2018",1909.20,1961.00,1961.95,1905.00,2.57M,-1.70%,1946.08,1904.55,1917.67,7.827255,17.531187
212,"Nov 12, 2018",1914.85,1908.50,1946.10,1908.50,2.55M,0.30%,1944.38,1905.25,1917.95,3.865111,10.205629
213,"Nov 13, 2018",1934.95,1915.00,1939.00,1903.00,1.42M,1.05%,1946.71,1908.90,1926.77,2.214583,6.614096
214,"Nov 14, 2018",1880.65,1925.00,1929.90,1870.00,2.42M,-2.81%,1945.19,1904.70,1916.36,1.617353,2.000267
215,"Nov 15, 2018",1872.85,1864.00,1899.00,1857.60,1.83M,-0.41%,1935.19,1888.82,1902.50,4.734094,7.821313
216,"Nov 16, 2018",1886.60,1889.00,1899.80,1870.25,1.83M,0.73%,1922.76,1881.87,1897.98,10.060315,11.839230
217,"Nov 19, 2018",1902.45,1899.00,1907.35,1864.30,1.74M,0.84%,1915.01,1873.03,1895.50,13.873086,15.149701
218,"Nov 20, 2018",1878.25,1902.00,1902.00,1874.20,1.19M,-1.27%,1907.61,1867.27,1884.16,15.154096,14.601180
219,"Nov 21, 2018",1812.00,1871.00,1871.05,1798.55,3.84M,-3.53%,1895.84,1852.98,1870.43,14.909509,13.805536