In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
df = pd.read_csv('TCS2018.csv')
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,01-Jan-2018,2701.20,2682.3,2694.8,2635.0,2650.0,2645.60,2654.94,675880,1.794418e+09,19464,330691,48.93
1,TCS,EQ,02-Jan-2018,2645.60,2660.0,2669.6,2620.2,2631.0,2631.20,2641.06,960145,2.535800e+09,46813,555820,57.89
2,TCS,EQ,03-Jan-2018,2631.20,2632.0,2669.0,2631.2,2639.0,2638.65,2649.21,628560,1.665186e+09,32104,361072,57.44
3,TCS,EQ,04-Jan-2018,2638.65,2650.0,2662.0,2640.0,2650.0,2657.10,2649.94,456541,1.209807e+09,32647,264561,57.95
4,TCS,EQ,05-Jan-2018,2657.10,2650.0,2699.5,2650.0,2695.0,2689.20,2684.95,576853,1.548821e+09,30836,318083,55.14

In [17]:
remove_columns = ['Symbol', 'Series', 'Last Price', 'Average Price', 'Total Traded Quantity','Turnover',
                 'No. of Trades','Deliverable Qty','% Dly Qt to Traded Qty']
clean_df = df.drop(remove_columns, axis=1)
clean_df.head()

          Date  Prev Close  Open Price  High Price  Low Price  Close Price
0  01-Jan-2018     2701.20      2682.3      2694.8     2635.0      2645.60
1  02-Jan-2018     2645.60      2660.0      2669.6     2620.2      2631.20
2  03-Jan-2018     2631.20      2632.0      2669.0     2631.2      2638.65
3  04-Jan-2018     2638.65      2650.0      2662.0     2640.0      2657.10
4  05-Jan-2018     2657.10      2650.0      2699.5     2650.0      2689.20

In [18]:
clean_df['Avg_high_5'] = clean_df['High Price'].rolling(5).mean()
clean_df['Avg_low_5'] = clean_df['Low Price'].rolling(5).mean()
clean_df['MV_5'] = clean_df['Close Price'].rolling(5).mean()
clean_df[:20]

,Date,Prev Close,Open Price,High Price,Low Price,Close Price,Avg_high_5,Avg_low_5,MV_5
0,01-Jan-2018,2701.20,2682.30,2694.80,2635.00,2645.60,NaN,NaN,NaN
1,02-Jan-2018,2645.60,2660.00,2669.60,2620.20,2631.20,NaN,NaN,NaN
2,03-Jan-2018,2631.20,2632.00,2669.00,2631.20,2638.65,NaN,NaN,NaN
3,04-Jan-2018,2638.65,2650.00,2662.00,2640.00,2657.10,NaN,NaN,NaN
4,05-Jan-2018,2657.10,2650.00,2699.50,2650.00,2689.20,2678.98,2635.28,2652.35
5,08-Jan-2018,2689.20,2700.00,2726.85,2681.85,2714.40,2685.39,2644.65,2666.11
6,09-Jan-2018,2714.40,2715.00,2721.00,2676.55,2709.00,2695.67,2655.92,2681.67
7,10-Jan-2018,2709.00,2711.00,2816.00,2694.65,2806.60,2725.07,2668.61,2715.26
8,11-Jan-2018,2806.60,2810.00,2821.90,2782.20,2790.50,2757.05,2697.05,2741.94
9,12-Jan-2018,2790.50,2805.00,2805.00,2740.55,2776.35,2778.15,2715.16,2759.37
10,15-Jan-2018,2776.35,2777.15,2808.00,2735.05,2746.10,2794.38,2725.80,2765.71
11,16-Jan-2018,2746.10,2756.00,2861.65,2750.55,2850.85,2822.51,2740.60,2794.08
12,17-Jan-2018,2850.85,2870.00,2925.00,2862.15,2888.95,2844.31,2774.10,2810.55
13,18-Jan-2018,2888.95,2897.00,2933.00,2868.05,2918.20,2866.53,2791.27,2836.09
14,19-Jan-2018,2918.20,2930.55,2982.00,2903.65,2959.30,2901.93,2823.89,2872.68
15,22-Jan-2018,2959.30,2961.00,3134.70,2922.00,3116.40,2967.27,2861.28,2946.74
16,23-Jan-2018,3116.40,3114.95,3142.35,3090.05,3102.00,3023.41,2929.18,2996.97
17,24-Jan-2018,3102.00,3090.00,3259.05,3082.65,3174.60,3090.22,2973.28,3054.10
18,25-Jan-2018,3174.60,3175.00,3179.80,3081.00,3121.05,3139.58,3015.87,3094.67
19,29-Jan-2018,3121.05,3131.40,3225.00,3122.00,3198.85,3188.18,3059.54,3142.58

In [19]:
# plt.figure(figsize=(15,10))
# plt.grid(True)
# plt.plot(clean_df['Avg_high_5'], label='AVG_HIGH_5')
# plt.plot(clean_df['Avg_low_5'], label='AVG_LOW_5')
# plt.plot(clean_df['MV_5'], label='MV_5')
# plt.legend(loc=2)

In [34]:
row_count = clean_df.shape[0]
print(row_count)
no_of_trades = 0
current_trade = 0 # 0 for no position, 1 for buy, -1 for sell
trades = list() # record of trades
for i in range(row_count):
    if current_trade==0 and clean_df['Close Price'][i] > clean_df['Avg_high_5'][i]:
        # Trigger buy
        current_trade = 1
        no_of_trades += 1
        trades['Date Entered'] = clean_df['Date'][i]
    elif current_trade==0 and clean_df['Close Price'][i] < clean_df['Avg_low_5'][i]:
        current_trade = -1
        no_of_trades += 1
# for i in range(row_count):
#     if clean_df['Close Price'][i] > clean_df['Avg_high_5'][i]:
#         signal.append('Buy')
#     elif clean_df['Close Price'][i] < clean_df['Avg_low_5'][i]:
#         signal.append('Sell')
#     elif pd.isna(clean_df['Avg_high_5'][i]):
#         signal.append('Data Unavailable')
#     else:
#         signal.append('Pass')
# clean_df['Signal'] = signal
# clean_df

246

,Date,Prev Close,Open Price,High Price,Low Price,Close Price,Avg_high_5,Avg_low_5,MV_5,Signal
0,01-Jan-2018,2701.20,2682.30,2694.80,2635.00,2645.60,NaN,NaN,NaN,Data Unavailable
1,02-Jan-2018,2645.60,2660.00,2669.60,2620.20,2631.20,NaN,NaN,NaN,Data Unavailable
2,03-Jan-2018,2631.20,2632.00,2669.00,2631.20,2638.65,NaN,NaN,NaN,Data Unavailable
3,04-Jan-2018,2638.65,2650.00,2662.00,2640.00,2657.10,NaN,NaN,NaN,Data Unavailable
4,05-Jan-2018,2657.10,2650.00,2699.50,2650.00,2689.20,2678.98,2635.28,2652.35,Buy
5,08-Jan-2018,2689.20,2700.00,2726.85,2681.85,2714.40,2685.39,2644.65,2666.11,Buy
6,09-Jan-2018,2714.40,2715.00,2721.00,2676.55,2709.00,2695.67,2655.92,2681.67,Buy
7,10-Jan-2018,2709.00,2711.00,2816.00,2694.65,2806.60,2725.07,2668.61,2715.26,Buy
8,11-Jan-2018,2806.60,2810.00,2821.90,2782.20,2790.50,2757.05,2697.05,2741.94,Buy
9,12-Jan-2018,2790.50,2805.00,2805.00,2740.55,2776.35,2778.15,2715.16,2759.37,Pass
10,15-Jan-2018,2776.35,2777.15,2808.00,2735.05,2746.10,2794.38,2725.80,2765.71,Pass
11,16-Jan-2018,2746.10,2756.00,2861.65,2750.55,2850.85,2822.51,2740.60,2794.08,Buy
12,17-Jan-2018,2850.85,2870.00,2925.00,2862.15,2888.95,2844.31,2774.10,2810.55,Buy
13,18-Jan-2018,2888.95,2897.00,2933.00,2868.05,2918.20,2866.53,2791.27,2836.09,Buy
14,19-Jan-2018,2918.20,2930.55,2982.00,2903.65,2959.30,2901.93,2823.89,2872.68,Buy
15,22-Jan-2018,2959.30,2961.00,3134.70,2922.00,3116.40,2967.27,2861.28,2946.74,Buy
16,23-Jan-2018,3116.40,3114.95,3142.35,3090.05,3102.00,3023.41,2929.18,2996.97,Buy
17,24-Jan-2018,3102.00,3090.00,3259.05,3082.65,3174.60,3090.22,2973.28,3054.10,Buy
18,25-Jan-2018,3174.60,3175.00,3179.80,3081.00,3121.05,3139.58,3015.87,3094.67,Pass
19,29-Jan-2018,3121.05,3131.40,3225.00,3122.00,3198.85,3188.18,3059.54,3142.58,Buy
20,30-Jan-2018,3198.85,3180.00,3203.80,3143.70,3152.85,3202.00,3103.88,3149.87,Pass
21,31-Jan-2018,3152.85,3137.00,3150.00,3098.60,3112.35,3203.53,3105.59,3151.94,Pass
22,01-Feb-2018,3112.35,3124.00,3190.00,3088.80,3138.60,3189.72,3106.82,3144.74,Pass
23,02-Feb-2018,3138.60,3120.00,3190.00,3103.45,3153.65,3191.76,3111.31,3151.26,Pass
24,05-Feb-2018,3153.65,3110.00,3188.00,3076.85,3103.20,3184.36,3102.28,3132.13,Pass
25,06-Feb-2018,3103.20,3010.00,3077.15,2985.00,2997.25,3159.03,3070.54,3101.01,Sell
26,07-Feb-2018,2997.25,3027.00,3031.00,2947.45,2955.05,3135.23,3040.31,3069.55,Sell
27,08-Feb-2018,2955.05,2979.75,3027.60,2959.00,2974.20,3102.75,3014.35,3036.67,Sell
28,09-Feb-2018,2974.20,2950.00,2994.00,2896.65,2971.70,3063.55,2972.99,3000.28,Sell
29,12-Feb-2018,2971.70,2978.30,3023.35,2955.55,2967.30,3030.62,2948.73,2973.10,Pass
...,...,...,...,...,...,...,...,...,...,...
216,16-Nov-2018,1872.85,1889.00,1899.80,1870.25,1886.60,1922.76,1881.87,1897.98,Pass
217,19-Nov-2018,1886.60,1899.00,1907.35,1864.30,1902.45,1915.01,1873.03,1895.50,Pass
218,20-Nov-2018,1902.45,1902.00,1902.00,1874.20,1878.25,1907.61,1867.27,1884.16,Pass
219,21-Nov-2018,1878.25,1871.00,1871.05,1798.55,1812.00,1895.84,1852.98,1870.43,Sell
220,22-Nov-2018,1812.00,1820.00,1847.60,1809.95,1812.55,1885.56,1843.45,1858.37,Sell
221,26-Nov-2018,1812.55,1819.00,1860.00,1784.50,1846.10,1877.60,1826.30,1850.27,Pass
222,27-Nov-2018,1846.10,1854.00,1897.90,1835.35,1890.25,1875.71,1820.51,1847.83,Buy
223,28-Nov-2018,1890.25,1889.00,1989.00,1882.50,1983.90,1893.11,1822.17,1868.96,Buy
224,29-Nov-2018,1983.90,1997.00,1997.00,1942.55,1960.55,1918.30,1850.97,1898.67,Buy
225,30-Nov-2018,1960.55,1966.00,1991.00,1959.85,1968.25,1946.98,1880.95,1929.81,Buy
226,03-Dec-2018,1968.25,1984.00,1990.00,1968.30,1982.40,1972.98,1917.71,1957.07,Buy
227,04-Dec-2018,1982.40,1983.00,2019.40,1971.00,2010.85,1997.28,1944.84,1981.19,Buy
228,05-Dec-2018,2010.85,2006.00,2018.00,1985.00,2006.75,2003.08,1965.34,1985.76,Buy
229,06-Dec-2018,2006.75,1998.00,2017.00,1979.60,1992.70,2007.08,1972.75,1992.19,Pass
230,07-Dec-2018,1992.70,1985.05,2003.90,1973.00,1995.20,2009.66,1975.38,1997.58,Pass
231,10-Dec-2018,1995.20,1975.00,2011.00,1960.00,1975.80,2013.86,1973.72,1996.26,Pass
232,11-Dec-2018,1975.80,1970.00,2010.00,1961.00,2000.00,2011.98,1971.72,1994.09,Pass
233,12-Dec-2018,2000.00,2001.10,2022.00,1984.95,2016.80,2012.78,1971.71,1996.10,Buy
234,13-Dec-2018,2016.80,2024.00,2029.70,1974.50,1982.60,2015.32,1970.69,1994.08,Pass
235,14-Dec-2018,1982.60,1983.00,1998.95,1975.25,1989.75,2014.33,1971.14,1992.99,Pass
236,17-Dec-2018,1989.75,1999.00,2004.90,1985.00,1994.30,2013.11,1976.14,1996.69,Pass
237,18-Dec-2018,1994.30,1991.90,2002.00,1976.40,1987.85,2011.51,1979.22,1994.26,Pass
238,19-Dec-2018,1987.85,1984.80,1984.80,1960.05,1968.45,2004.07,1974.24,1984.59,Sell
239,20-Dec-2018,1968.45,1953.80,1974.90,1946.00,1954.05,1993.11,1968.54,1978.88,Sell
240,21-Dec-2018,1954.05,1948.00,1950.00,1886.55,1895.80,1983.32,1950.80,1960.09,Sell
241,24-Dec-2018,1895.80,1905.80,1938.90,1905.00,1918.50,1970.12,1934.80,1944.93,Sell
242,26-Dec-2018,1918.50,1921.80,1921.80,1870.25,1889.20,1954.08,1913.57,1925.20,Sell
243,27-Dec-2018,1889.20,1909.00,1941.70,1872.10,1908.95,1945.46,1895.98,1913.30,Pass
244,28-Dec-2018,1908.95,1915.00,1920.00,1893.00,1896.05,1934.48,1885.38,1901.70,Pass
245,31-Dec-2018,1896.05,1908.00,1909.00,1886.15,1893.05,1926.28,1885.30,1901.15,Pass