In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('TCS2018.csv')
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,01-Jan-2018,2701.20,2682.3,2694.8,2635.0,2650.0,2645.60,2654.94,675880,1.794418e+09,19464,330691,48.93
1,TCS,EQ,02-Jan-2018,2645.60,2660.0,2669.6,2620.2,2631.0,2631.20,2641.06,960145,2.535800e+09,46813,555820,57.89
2,TCS,EQ,03-Jan-2018,2631.20,2632.0,2669.0,2631.2,2639.0,2638.65,2649.21,628560,1.665186e+09,32104,361072,57.44
3,TCS,EQ,04-Jan-2018,2638.65,2650.0,2662.0,2640.0,2650.0,2657.10,2649.94,456541,1.209807e+09,32647,264561,57.95
4,TCS,EQ,05-Jan-2018,2657.10,2650.0,2699.5,2650.0,2695.0,2689.20,2684.95,576853,1.548821e+09,30836,318083,55.14

In [3]:
remove_columns = ['Symbol', 'Series', 'Last Price', 'Average Price', 'Total Traded Quantity','Turnover',
                 'No. of Trades','Deliverable Qty','% Dly Qt to Traded Qty']
clean_df = df.drop(remove_columns, axis=1)
clean_df.head()

          Date  Prev Close  Open Price  High Price  Low Price  Close Price
0  01-Jan-2018     2701.20      2682.3      2694.8     2635.0      2645.60
1  02-Jan-2018     2645.60      2660.0      2669.6     2620.2      2631.20
2  03-Jan-2018     2631.20      2632.0      2669.0     2631.2      2638.65
3  04-Jan-2018     2638.65      2650.0      2662.0     2640.0      2657.10
4  05-Jan-2018     2657.10      2650.0      2699.5     2650.0      2689.20

In [4]:
clean_df['Avg_high_5'] = clean_df['High Price'].rolling(5).mean()
clean_df['Avg_low_5'] = clean_df['Low Price'].rolling(5).mean()
clean_df['MV_5'] = clean_df['Close Price'].rolling(5).mean()
clean_df[:10]

,Date,Prev Close,Open Price,High Price,Low Price,Close Price,Avg_high_5,Avg_low_5,MV_5
0,01-Jan-2018,2701.20,2682.3,2694.80,2635.00,2645.60,NaN,NaN,NaN
1,02-Jan-2018,2645.60,2660.0,2669.60,2620.20,2631.20,NaN,NaN,NaN
2,03-Jan-2018,2631.20,2632.0,2669.00,2631.20,2638.65,NaN,NaN,NaN
3,04-Jan-2018,2638.65,2650.0,2662.00,2640.00,2657.10,NaN,NaN,NaN
4,05-Jan-2018,2657.10,2650.0,2699.50,2650.00,2689.20,2678.98,2635.28,2652.35
5,08-Jan-2018,2689.20,2700.0,2726.85,2681.85,2714.40,2685.39,2644.65,2666.11
6,09-Jan-2018,2714.40,2715.0,2721.00,2676.55,2709.00,2695.67,2655.92,2681.67
7,10-Jan-2018,2709.00,2711.0,2816.00,2694.65,2806.60,2725.07,2668.61,2715.26
8,11-Jan-2018,2806.60,2810.0,2821.90,2782.20,2790.50,2757.05,2697.05,2741.94
9,12-Jan-2018,2790.50,2805.0,2805.00,2740.55,2776.35,2778.15,2715.16,2759.37

In [5]:
# plt.figure(figsize=(15,10))
# plt.grid(True)
# plt.plot(clean_df['Avg_high_5'], label='AVG_HIGH_5')
# plt.plot(clean_df['Avg_low_5'], label='AVG_LOW_5')
# plt.plot(clean_df['MV_5'], label='MV_5')
# plt.legend(loc=2)

In [12]:
row_count = clean_df.shape[0]
trades_columns = ['Date Entered', 'Price Entered', 'Date Exited', 'Price Exited', 'Long/Short', 'Points Captured']
trade_id = 0

current_trade = 0 # 0 for no position, 1 for long, -1 for short

trades_df = pd.DataFrame(columns = trades_columns)

for i in range(row_count):
    
    if current_trade==0 and clean_df['Close Price'][i] > clean_df['Avg_high_5'][i]:
        # Trigger Long Position
        current_trade = 1
        # Insert row with index=trade_id and data type of missing values as required
        trades_df.loc[trade_id] = [clean_df['Date'][i], clean_df['Close Price'][i], "Not Closed", -1, 'Long', 0]
        
    elif current_trade==0 and clean_df['Close Price'][i] < clean_df['Avg_low_5'][i]:
        # Trigger Short Position
        current_trade = -1
        # Insert row with index=trade_id and data type of missing values as required
        trades_df.loc[trade_id] = [clean_df['Date'][i], clean_df['Close Price'][i], "Not Closed", -1, 'Short', 0]
        
    elif current_trade==1 and clean_df['Close Price'][i] < clean_df['Avg_high_5'][i]:
        # Close Long Position
        current_trade = 0
        trades_df.at[trade_id, 'Date Exited'] = clean_df['Date'][i]
        trades_df.at[trade_id, 'Price Exited'] = clean_df['Close Price'][i]
        trades_df.at[trade_id, 'Points Captured'] = trades_df['Price Exited'][trade_id] - trades_df['Price Entered'][trade_id]
        trade_id += 1
        
    elif current_trade==-1 and clean_df['Close Price'][i] > clean_df['Avg_low_5'][i]:
        # Close Short Position
        current_trade = 0
        trades_df.at[trade_id, 'Date Exited'] = clean_df['Date'][i]
        trades_df.at[trade_id, 'Price Exited'] = clean_df['Close Price'][i]
        trades_df.at[trade_id, 'Points Captured'] = trades_df['Price Entered'][trade_id] - trades_df['Price Exited'][trade_id]
        trade_id += 1
        
trades_df

,Date Entered,Price Entered,Date Exited,Price Exited,Long/Short,Points Captured
0,05-Jan-2018,2689.20,12-Jan-2018,2776.35,Long,87.15
1,16-Jan-2018,2850.85,25-Jan-2018,3121.05,Long,270.2
2,29-Jan-2018,3198.85,30-Jan-2018,3152.85,Long,-46
3,06-Feb-2018,2997.25,12-Feb-2018,2967.3,Short,29.95
4,14-Feb-2018,2911.80,15-Feb-2018,2925.85,Short,-14.05
5,21-Feb-2018,3042.30,26-Feb-2018,3031.7,Long,-10.6
6,05-Mar-2018,3105.85,06-Mar-2018,3042.8,Long,-63.05
7,08-Mar-2018,3003.95,09-Mar-2018,3034.1,Short,-30.15
8,13-Mar-2018,2886.80,20-Mar-2018,2864.85,Short,21.95
9,23-Mar-2018,2818.15,26-Mar-2018,2817,Short,1.15
10,02-Apr-2018,2909.65,09-Apr-2018,2923.9,Long,14.25
11,11-Apr-2018,3014.15,18-Apr-2018,3159.1,Long,144.95
12,20-Apr-2018,3402.45,27-Apr-2018,3451.95,Long,49.5
13,30-Apr-2018,3532.10,02-May-2018,3499.75,Long,-32.35
14,07-May-2018,3420.95,09-May-2018,3489.3,Short,-68.35
15,21-May-2018,3556.75,22-May-2018,3508.9,Long,-47.85
16,24-May-2018,3603.70,25-May-2018,3585.8,Long,-17.9
17,28-May-2018,3502.05,29-May-2018,3523.5,Short,-21.45
18,31-May-2018,1741.05,06-Jun-2018,1725.75,Short,15.3
19,12-Jun-2018,1781.00,14-Jun-2018,1787.55,Long,6.55
20,15-Jun-2018,1840.05,18-Jun-2018,1829,Long,-11.05
21,22-Jun-2018,1809.80,25-Jun-2018,1819.25,Short,-9.45
22,26-Jun-2018,1852.00,28-Jun-2018,1842.7,Long,-9.3
23,03-Jul-2018,1874.05,04-Jul-2018,1866.15,Long,-7.9
24,05-Jul-2018,1880.30,09-Jul-2018,1883,Long,2.7
25,11-Jul-2018,1979.90,18-Jul-2018,2000.25,Long,20.35
26,26-Jul-2018,1964.70,01-Aug-2018,1976.5,Short,-11.8
27,03-Aug-2018,1979.45,06-Aug-2018,1975.55,Long,-3.9
28,10-Aug-2018,1993.10,17-Aug-2018,2012.75,Long,19.65
29,23-Aug-2018,2035.10,03-Sep-2018,2052.9,Long,17.8
30,04-Sep-2018,2098.90,05-Sep-2018,2079.25,Long,-19.65
31,11-Sep-2018,2046.25,14-Sep-2018,2065.4,Short,-19.15
32,19-Sep-2018,2077.90,26-Sep-2018,2142.15,Long,64.25
33,01-Oct-2018,2255.55,03-Oct-2018,2162.85,Long,-92.7
34,04-Oct-2018,2064.80,09-Oct-2018,2091.8,Short,-27
35,11-Oct-2018,1979.95,16-Oct-2018,1962.3,Short,17.65
36,22-Oct-2018,1903.00,25-Oct-2018,1853,Short,50
37,26-Oct-2018,1799.10,29-Oct-2018,1871,Short,-71.9
38,30-Oct-2018,1894.80,02-Nov-2018,1913.45,Long,18.65
39,14-Nov-2018,1880.65,16-Nov-2018,1886.6,Short,-5.95
40,21-Nov-2018,1812.00,26-Nov-2018,1846.1,Short,-34.1
41,27-Nov-2018,1890.25,06-Dec-2018,1992.7,Long,102.45
42,12-Dec-2018,2016.80,13-Dec-2018,1982.6,Long,-34.2
43,19-Dec-2018,1968.45,27-Dec-2018,1908.95,Short,59.5

In [14]:
trades_df['Points Captured'].sum()

304.150000000001